name: Make Repository Public

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  make-public:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Make Repository Public
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.repos.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              private: false
            })
          github-token: ${{ secrets.GITHUB_TOKEN }}
